@media only screen and(min-width:2px) and (max-width: 767px){
	body{
		display: flex;
		justify-content: center;
		align-items: center;
		background: $main-color;
		height: 100vh;
	}

	.oops{
		@include fw-bold;
		font-family: 'Indie Flower', cursive;
		font-size: 2rem;
		background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 13%, rgba(0,212,255,1) 61%);
		-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	}

	.container{
		display: none;
	}
}

@media only screen and (min-width: 767px){
	.oops{
		display: none;
	}
}