
@mixin fw-norm {
	font-weight: 300;
}

@mixin fw-medium {
	font-weight: 400;
}

@mixin fw-bold {
	font-weight: 600;
}

@mixin flex-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding:1em;
}