
body{
	font-family:'Inter', sans-serif;
	font-size: 16px;
	background:#C8C4C4;
	//background:url('../images/bg-image.png') no-repeat;
	//background-position: center center;
}

.container{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: auto;
	padding: 2em 3em;
}

.sidebar1{
	background-color:$main-color;
	padding: 2.5em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;

	&__img{
		height: 40px;
		margin-bottom: 2em;
		margin-left:6%;
	}

	&__button{
		display: block;
		background:$p-color1;
		color:$main-color;
		border:none;
		border-radius: 7px;
		padding: .5em 2em;
		@include fw-medium;
		margin-bottom: 1.5em;
		cursor: pointer;
	}

	&__nav{
		list-style-type: none;

		a{
			text-decoration: none;
		}

		li{
			list-style-type: none;
			color:$n-color3;
			@include fw-medium;
			font-size: .8rem;
			text-align: center;
			margin-bottom: 2.5em;
			display: table;

			&:nth-of-type(1){
				margin-top:1.5em;
			}

			p{
				display: inline;
			}
		}
	}

}

//highlight the all courses link item

.nav-highlight{
	color: $p-color1;
	@include fw-bold;
	position:relative;

	/*&::after{
		content: "";
		background:$p-color1;
		height: 19px;
		width: 2px;
		position: absolute;
		right: -124px;
	}*/
}

.blue{
	color:$p-color1;
}


//styles to make icons aligned 

.nav-icon{
	display: inline-block;
	margin-right: 20px;
}

.section1__upgrade{
	background: $n-color4;
	border-radius:15px;
	padding: 2em;;
	margin-top: 2.5em;
	display: flex;
	flex-direction: column;

	&__icon{
		height: 80px;
		position:relative;
		bottom:70px;
	}

	p{
		color: $n-color1;
		text-align:center;
		font-size:.9rem;
		position:relative;
		bottom:30px;
	}

	&__button{
		border:none;
		border-radius:7px;
		background:$p-color1;
		padding:1em;
		color: $main-color;
		@include fw-bold;
	}
}



